# Binários compilados
*.exe
*.exe~
*.dll
*.so
*.dylib
go-user-api
cmd/api/api

# Dependências
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Arquivos do sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Ambiente
.env
.env.local